run = "python3 app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "gunicorn app:app --bind 0.0.0.0:10000"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 41100971
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Run Tests"
author = 41100971
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m unittest test_runner.py -v"
